<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
        <add key="Sifon.Packages" value="https://nuget.pkg.github.com/MartinMiles/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <Sifon.Packages>
            <add key="Username" value="miles@martin.by" />
            <add key="ClearTextPassword" value="c78265625acba554560e9ae79dd1d3ba17c81df9" />
        </Sifon.Packages>
    </packageSourceCredentials>
</configuration>