<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
        <add key="Sifon.Packages" value="https://nuget.pkg.github.com/MartinMiles/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <Sifon.Packages>
            <add key="Username" value="miles@martin.by" />
            <add key="ClearTextPassword" value="77c748140e8b4f5a__REMOVE_THIS_COMMENT_AND_UNDERSCORES_AROUND_IT__b17ce29294b2a9a9e147b47a" />
        </Sifon.Packages>
    </packageSourceCredentials>
</configuration>